@model KAMS.Models.USERS
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

@*<h2>Login</h2>*@

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">KAMS ACCOUNT SYSTEMS</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="login-wrap p-0">
                <h3 class="mb-4 text-center">Have an account?</h3>
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "signin-form" }))
                {
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" required name="USERNAME">
                    </div>
                    <div class="form-group">
                        <input id="password-field" type="password" class="form-control" placeholder="Password" required name="C_PASSWORD">
                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="form-control btn btn-primary submit px-3" value="Sign In" />
                        @*<button type = "submit" class="form-control btn btn-primary submit px-3">Sign In</button>*@
                    </div>
                    <div class="w-100">
                        <p  class="text-danger">@ViewBag.error</p>
                        @*<br />*@
                    </div>
                    <div class="form-group d-md-flex">
                        <div class="w-50">
                            <label class="checkbox-wrap checkbox-primary">
                                Remember Me
                                <input type="checkbox" checked>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="w-50 text-md-right">
                            <a href="#" style="color: #fff">Forgot Password</a><br />
                        </div>
                    </div>
                }
                <p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>
                <div class="social d-flex text-center">
                    <a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a>
                    <a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Twitter</a>
                </div>

                @*<p class="w-100 text-center my-3">&mdash; Create Account &mdash;</p>
                <div class="social d-flex text-center">
                    <a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Register</a>
                </div>*@
            </div>
        </div>
    </div>
</div>
