
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                <img src="~/assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                <h3>KAMS Nedir?</h3>
                <p class="fst-italic">
                    KAMS apartmanınız tek bir yerden kontrol etmenizi sağlayan bir sistemdir.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> Aidat Takibi</li>
                    <li><i class="bi bi-check-circle"></i> Gelir-Gider Takibi</li>
                    <li><i class="bi bi-check-circle"></i> Elektrik Takibi</li>

                </ul>
                <p>
                    KAMS'ın sağladığı bu özellikler ve daha fazlasını sizlere sunmaktadır.  
                </p>
            </div>
        </div>

    </div>
</section>