@{
    ViewBag.Title = "Home Page";
}

<!-- ======= Hero Section ======= -->


<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>Welcome to KAMS</h1>
        <h2>KAMS ile sizde apartmanınızı profesyonel olarak tek bir yerden kontrol edebilirsiniz!</h2>
        <a href="~/Home/About" class="btn-get-started scrollto">Get Started</a>
    </div>
</section>


<!-- End Hero -->