
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="team" class="team">
    <div class="container">

        <div class="section-title">
            <span>KAMS Team</span>
            <h2>KAMS Team</h2>
            <p>KAMS OTOMASYON EKIBI UYELERI</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
                <div class="member">
                    <img src="~/assets/img/team/85db4c4d-dac9-4ef6-aadb-5bc638dd71af.jpg" alt="">
                    <h4>SERKAN ÖZBEY KURUCU</h4>
                    <span>Software Developer</span>
                    <p>
                        
                    </p>
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href="https://instagram.com/ozbeykurucu"><i class="bi bi-instagram"></i></a>
                        <a href="https://linkedin.com/in/serkanozbeykurucu"> <i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

            @*<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
                <div class="member">
                    <img src="~/assets/img/team/team-2.jpg" alt="">
                    <h4>Sarah Jhinson</h4>
                    <span>Product Manager</span>
                    <p>
                        Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
                    </p>
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>*@

            @*<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
                <div class="member">
                    <img src="~/assets/img/team/team-3.jpg" alt="">
                    <h4>William Anderson</h4>
                    <span>CTO</span>
                    <p>
                        Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                    </p>
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>*@

        </div>

    </div>
</section>

